.Headings{
    display: flex;
    gap: 20px;
    font-size: 30px;
    align-items: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: #fdfdfd;
    padding: 16px 16px 6px 16px;
    text-align: center;
}

   footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
    

.Images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 50%;
    width: 20px;
;
}

.product{
   background-color: white;
    border: 2px solid #dcdcdc;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    height: auto;
    
}

#product-name {
    font-size: 50px;
    font-weight: bold;
    color: #222;
    padding: 16px 16px 6px 16px;
    text-align: center;
}
#product-price {
    font-size: 40px;
    color: #f0a500;
    font-weight: 600;
    padding: 0 16px 16px 16px;
    text-align: center;
}

button{
    background-color: green;
    color: #dcdcdc;
    border: 8px;
    align-items: center;    
    font-size: 40px;
    border-radius: 90px;

}

.product img  {
    width: 500px;
    height:fit-content;
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.Headings ul {
    list-style-type: none;
    color: white;
    font-size: 40px;
}
#search-bar {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    width: 300px;
    margin-left: 20px;
}


